<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<br>
<div class = "container">
    <div class = "row align-items-center justify-content-between">
        <div class = "col">
            <h1>Shopping Cart</h1>
        </div>
        <div class = "col text-right">
            <a th:href = "@{/shop}" class = "btn btn-outline-secondary">Return to shop</a>
        </div>
    </div>

    <table class = "table">
        <thead class = "thead-dark">
        <tr>
            <th style="vertical-align: middle; text-align:left">Image</th>
            <th style="vertical-align: middle; text-align:left">Name</th>
            <th style="vertical-align: middle; text-align:right">Price</th>
            <th style="vertical-align: middle; text-align:right">Quantity</th>
            <th style="vertical-align: middle; text-align:center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td>
                <img th:src="${cartItem.item.imageUrl}" alt="Item Image" style="width: 100px; height: 100px;">
            </td>
            <td style="vertical-align: middle">
                <span th:text="${cartItem.item.itemType == 'Shirt' ? cartItem.item.name + ' - ' + cartItem.item.colour + ' / ' + cartItem.item.size : cartItem.item.itemType == 'Sculpture' ? cartItem.item.name + ' - ' + cartItem.item.weight + 'kg / ' + cartItem.item.height + '&quot;': cartItem.item.name}"></span>
            </td>
            <td style="vertical-align: middle; text-align:right" th:text="${#numbers.formatCurrency(cartItem.item.salePrice)}"></td>
            <td style="vertical-align: middle; text-align:right" th:text="${cartItem.quantity}"></td>
            <td style="vertical-align: middle; text-align:center">
                <a th:href = "@{/cart/{id}(id=${cartItem.item.id})}">
                    <button type = "button" class = "btn btn-outline-danger">Remove from cart</button></a>
            </td>

        </tr>
        </tbody>
    </table>

    <div class = "col text-right">
        <h5>Total</h5>
        <th:block th:text="${#numbers.formatCurrency(total)}"></th:block>
    </div>
    <br>
    <div class = "col text-right">
        <a th:href = "@{/cart/checkout}" class = "btn btn-primary">Checkout</a>
    </div>

</div>
</body>
</html>