<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Donor</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div style="margin: 30px 50px;">
        <h1 style="color: blue;">Donors</h1>
        <a th:href="@{/donors/add}"><button class="btn btn-danger btn-lg">Add</button></a>
        <a th:href="@{/donors/edit}"><button class="btn btn-primary btn-lg">Edit</button></a>
    </div>
</body>
</html>