<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<br>

<div class="container">
    <h1>Employee List</h1>
</div>
<br>

<div class="container">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Employee Data</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Title</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Supervisor</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td>
                    <a th:if="${deleteMode}" th:href="@{/employees/delete/{employeeData}(employeeData=${employee.employeeData})}" th:text="${employee.employeeData}"></a>
                    <span th:if="${!deleteMode}" th:text="${employee.employeeData}"></span>
                </td>
                <td th:text="${employee.employeeID}">ID</td>
                <td th:text="${employee.employeeName}">Name</td>
                <td th:text="${employee.title}">Title</td>
                <td th:text="${employee.salary}">Salary</td>
                <td th:text="${employee.department}">Department</td>
                <td th:text="${employee.supervisor}">Supervisor</td>
                <td>
                    <span th:if="${employee.project == 'AGOC'}">
                        <a th:href="@{/projects/agoc}">AGOC</a>
                    </span>
                    <span th:if="${employee.project == 'DFAS'}">
                        <a th:href="@{/projects/dfas}">DFAS</a>
                    </span>
                    <span th:if="${employee.project == 'OLNO'}">
                        <a th:href="@{/projects/olno}">OLNO</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>