<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<br>

    <div class="container">
        <div class="row-align-items-center justify-content-between">
            <div class="col">
                <h1>Employee List</h1>
            </div>

    <div class="col text-right">
    <form action="/employees/filter" method="get" class="row">
        <div class="col-md-4">
        <select id="department" name="department" class="form-select">
            <option value="">All Departments</option>
            <option value="Production">Production</option>
            <option value="Marketing">Marketing</option>
            <option value="VA">VA</option>
            <option value="Talent Acquisition">Talent Acquisition</option>
        </select>
        </div>
        <div class="col-md-4">
        <select id="project" name="project" class="form-select">
            <option value="">All Projects</option>
            <option value="AGOC">AGOC</option>
            <option value="DFAS">DFAS</option>
            <option value="OLNO">OLNO</option>
        </select>
        </div>
        <div class="col-md-4">
        <input type="submit" value="Filter" class="btn btn-primary">
        </div>
    </div>
    </form>
    <br>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Employee Data</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Title</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Supervisor</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.employeeData}">Data</td>
                <td th:text="${employee.employeeID}">ID</td>
                <td th:text="${employee.employeeName}">Name</td>
                <td th:text="${employee.title}">Title</td>
                <td th:text="${employee.salary}">Salary</td>
                <td th:text="${employee.department}">Department</td>
                <td th:text="${employee.supervisor}">Supervisor</td>
                <td>
                    <span th:if="${employee.project == 'AGOC'}">
                        <a th:href="@{/projects/agoc}">AGOC</a>
                    </span>
                    <span th:if="${employee.project == 'DFAS'}">
                        <a th:href="@{/projects/dfas}">DFAS</a>
                    </span>
                    <span th:if="${employee.project == 'OLNO'}">
                        <a th:href="@{/projects/olno}">OLNO</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <div class="row align-items-center justify-content-between">
        <div class="col text-center">
            <a href="/employees/add" class="btn btn-primary">Add Employee</a><br>
        </div>
        <div class="col text-center">
            <a href="/employees/modify" class="btn btn-primary">Modify Employee</a><br>
        </div>
        <div class="col text-center">
            <a href="/employees/delete" class="btn btn-danger">Delete Employee</a><br>
        </div>
    </div>
<br>

</body>
</html>