<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Items</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Item Code</th>
        <th>Item Type</th>
        <th>Sale Price</th>
        <th>Cost</th>
        <th>inventory</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.itemType}"></td>
        <td th:text="${item.getSalePrice()}"></td>
        <td th:text="${item.cost}"></td>
        <td th:text="${item.inventory}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>