<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit Items</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .sign-out {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
<br>
<br>
<div class = "container">
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="sign-out" style="text-align: center">
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b><span sec:authentication="principal.username"></span></b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div class = "row">
        <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center">Edit Item</h1>
            <div class = "card-body">
                <form th:action="@{/items/edit/{itemId} (itemId=${items.id})}" th:object="${items}"
                      method="post" style="max-width: 600px; margin: 0 auto;">
                    <div class = "form-group">
                        <label>Item Name</label>
                        <input
                                type = "text"
                                name = "Item Name"
                                th:field = "*{name}"
                                class = "form-control"
                                required
                        />
                    </div>
                    <div class = "form-group">
                        <label>Item Type</label>
                        <input
                                type = "text"
                                name = "itemType"
                                id = "itemType"
                                th:field = "*{itemType}"
                                class = "form-control"
                                readonly
                        />
                    </div>
                    <div class = "form-group">
                        <label>Price</label>
                        <input
                                type = "number"
                                step = "0.01"
                                name = "Sale Price"
                                th:field = "*{salePrice}"
                                class = "form-control"
                                required
                        />
                    </div>
                    <div class = "form-group">
                        <label>Cost</label>
                        <input
                                type = "number"
                                step = "0.01"
                                name = "cost"
                                th:field = "*{cost}"
                                class = "form-control"
                                required
                        />
                    </div>
                    <div class = "form-group">
                        <label>Inventory</label>
                        <input
                                type = "number"
                                name = "inventory"
                                th:field = "*{inventory}"
                                class = "form-control"
                                required
                        />
                    </div>

                    <div class = "form-group">
                        <label>Image URL</label>
                        <input
                                type = "text"
                                name = "ImageUrl"
                                th:field = "*{imageUrl}"
                                class = "form-control"
                        />
                    </div>

                    <!-- Conditional fields for shirts -->
                    <div class="form-group" id="shirtFields" style="display: none;">
                        <label>Shirt Size</label>
<!--                        dropdown for shirt size-->
                        <select id="shirtSize" name="shirtSize" class="form-control">
                            <option value="XS" th:selected="${items.size == 'XS'}">
                                XS
                            </option>
                            <option value="S" th:selected="${items.size == 'S'}">
                                S
                            </option>
                            <option value="M" th:selected="${items.size == 'M'}">
                                M
                            </option>
                            <option value="L" th:selected="${items.size == 'L'}">
                                L
                            </option>
                            <option value="XL" th:selected="${items.size == 'XL'}">
                                XL
                            </option>
                            <option value="XXL" th:selected="${items.size == 'XXL'}">
                                XXL
                            </option>
                        </select>
                        <label>Shirt Colour</label>
<!--                        dropdown for selecting shirt colour-->
                        <select id="shirtColour" name="shirtColour" class="form-control">
                            <option value="Blue" th:selected="${items.colour == 'Blue'}">
                                Blue
                            </option>
                            <option value="Red" th:selected="${items.colour == 'Red'}">
                                Red
                            </option>
                            <option value="Yellow" th:selected="${items.colour == 'Yellow'}">
                                Yellow
                            </option>
                            <option value="Black" th:selected="${items.colour == 'Black'}">
                                Black
                            </option>
                            <option value="White" th:selected="${items.colour == 'White'}">
                                White
                            </option>
                            <option value="Grey" th:selected="${items.colour == 'Grey'}">
                                Grey
                            </option>
                        </select>
                    </div>

                    <!-- Conditional fields for sculptures -->
                    <div class="form-group" id="sculptureFields" style="display: none;">
                        <label>Sculpture Weight (kg)</label>
                        <input
                                type="number"
                                step="0.01"
                                name="sculptureWeight"
                                class="form-control"
                                th:value="*{weight}"
                                placeholder="Enter sculpture weight"
                        >
                        <label>Sculpture Height (inches)</label>
                        <input
                                type="number"
                                step="0.01"
                                name="sculptureHeight"
                                class="form-control"
                                th:value="*{height}"
                                placeholder="Enter sculpture weight"
                        >
                    </div>
                    <div class = "box-footer">
                        <button type = "submit" class = "btn btn-primary">
                            Submit
                        </button>
                        <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // Function to handle display of additional fields based on item type
    $(document).ready(function() {
        var itemType = $("#itemType").val();
        if (itemType === "Shirt") {
            $("#shirtFields").show();
            $("#sculptureFields").hide();
        } else if (itemType === "Sculpture") {
            $("#shirtFields").hide();
            $("#sculptureFields").show();
        } else {
            $("#shirtFields").hide();
            $("#sculptureFields").hide();
        }
    });
</script>
</body>
</html>
