<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<br>
<div class = "container">
    <div class = "row align-items-center justify-content-between">
        <div class = "col">
            <h1>Shop</h1>
        </div>
        <div class = "col text-right">
            <a th:href = "@{/items}" class = "btn btn-outline-secondary">Items homepage</a>
            <a th:href = "@{/cart}" class = "btn btn-primary">View cart</a>
        </div>
    </div>

    <table class = "table">
        <thead class = "thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>In stock</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.salePrice}"></td>
            <td th:text="${item.inventory}"></td>

            <td th:if="${item.inventory != 0}">
                    <form th:action="@{/cart/add/{id} (id=${item.id})}" th:object = "${item}" method="POST">
                    <button type = "submit" class = "btn btn-primary">Add to cart</button></form>
            </td>
            <td th:if="${item.inventory == 0}">
                <button type = "submit" class="btn btn-primary" disabled>Out of stock</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>