<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Items Modify</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center">Edit item</h1>
            <div class = "card-body">
                <form th:action="@{/items/edit/{itemId} (itemId=${items.id})}" th:object="${item}"
                      method="post" style="max-width: 600px; margin: 0 auto;">

                    <div class = "form-group">
                        <label>Item Type</label>
                        <input
                                type = "text"
                                name = "Item Type"
                                th:field = "*{itemType}"
                                class = "form-control"
                                placeholder="Enter item type"
                                required
                        />
                    </div>

                    <div class = "form-group">
                        <label>Price</label>
                        <input
                                type = "number"
                                name = "Sale Price"
                               th:field = "*{salePrice}"
                                class = "form-control"
                                placeholder="Enter Price"
                                required
                        />
                    </div>

                    <div class = "form-group">
                        <label>Cost</label>
                        <input
                                type = "number"
                                name = "cost"
                                th:field = "*{cost}"
                                class = "form-control"
                                placeholder="Enter Cost"
                                required
                        />
                    </div>



                    <div class = "form-group">
                        <label>Inventory</label>
                        <input
                                type = "number"
                                name = "inventory"
                                th:field = "*{inventory}"
                                class = "form-control"
                                placeholder="Enter starting inventory"
                                required
                        />
                    </div>

                    <div class = "box-footer">
                        <button type = "submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>