<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="ISO-8859-1">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .sign-out {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>

<br>
<div class = "container">
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="sign-out" style="text-align: center">
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome
                <b>
                    <span sec:authentication="principal.username"></span>
                </b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div class = "row align-items-center justify-content-between">
        <div class = "col">
            <h1>Shop</h1>
        </div>
        <div class = "col text-right">
            <a th:href = "@{/}" class = "btn btn-outline-secondary">
                Homepage
            </a>
            <a th:href = "@{/cart}" class = "btn btn-primary">
                View cart
            </a>
        </div>
    </div>

    <table class = "table">
        <thead class = "thead-dark">
        <tr>
            <th style="vertical-align: middle">Image</th>
            <th style="vertical-align: middle">Name</th>
            <th style="vertical-align: middle; text-align:right">Price</th>
            <th style="vertical-align: middle; text-align:right">In stock</th>
            <th style="vertical-align: middle; text-align:center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <!-- Check if the item ID is not 13 for all user types or if the user is a MEMBER -->
            <th:block th:if="${item.id != 13 or #authorization.expression('hasAuthority(''DONOR'')')}">
                <!-- Display the item -->
                <td>
                    <img th:src="${item.imageUrl}" alt="Item Image" style="width: 100px; height: 100px;">
                </td>
                <td style="vertical-align: middle">
                    <span th:text="${item.itemType == 'Shirt' ? item.name + ' - ' + item.colour + ' / ' + item.size : item.itemType == 'Sculpture' ? item.name + ' - ' + item.weight + 'kg / ' + item.height + '&quot;': item.name}"></span>
                </td>
                <td style="vertical-align: middle; text-align:right" th:text="${#numbers.formatCurrency(item.salePrice)}"></td>
                <td style="vertical-align: middle; text-align:right" th:text="${item.inventory}"></td>
                <td style="vertical-align: middle; text-align:center">
                    <form th:action="@{/cart/add/{id} (id=${item.id})}" th:object="${item}" method="POST">
                        <button type="submit" class="btn btn-primary">Add to cart</button>
                    </form>
                </td>
            </th:block>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>