<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Items Modify</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center">Reorder Item</h1>
            <div class = "card-body">
                <form th:action="@{/items/reorder/{itemId} (itemId=${items.id})}" th:object="${items}"
                      method="post" style="max-width: 600px; margin: 0 auto;">
                    <div class = "form-group">
                        <label>Item Type</label>
                        <input
                                type = "text"
                                name = "Item Type"
                                th:field = "*{itemType}"
                                class = "form-control"
                                required
                        />
                    </div>

                    <div class = "form-group">
                        <label>Date Reorder Placed</label>
                        <input
                                type = "date"
                                name = "Date Reorder Placed"
                                th:field = "*{replenishOrderedDate}"
                                class = "form-control"
                                required
                        />
                    </div>

                    <div class = "form-group">
                        <label>Expected Arrival Date</label>
                        <input
                                type = "date"
                                name = "Expected Arrival Date"
                                th:field = "*{replenishArrivalDate}"
                                class = "form-control"
                                required
                        />
                    </div>


                    <div class = "form-group">
                        <label>Reorder Quantity</label>
                        <input
                                type = "number"
                                name = "Reorder Quantity"
                                th:field = "*{inventoryOnReorder}"
                                class = "form-control"
                                required
                        />
                    </div>

                    <div class = "box-footer">
                        <button type = "submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>