<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Manage Items</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<br>
<div class = "container">
    <div class = "row align-items-center justify-content-between">
    <div class = "col">
        <h1>Manage Items</h1>
    </div>
    <div class = "col text-right">
        <a th:href = "@{/items/create}" class>
            <button type = "button" class = "btn btn-primary">Add Item</button></a>
        <a th:href = "@{/items}">
            <button type = "button" class = "btn btn-outline-danger">Items Homepage</button></a>
    </div>
        </div>

<table class = "table">
    <thead class = "thead-dark">
    <tr>
        <th style="text-align:center">Item Code</th>
        <th style="text-align:left">Name</th>
        <th style="text-align:left">Item Type</th>
        <th style="text-align:right" >Sale Price</th>
        <th style="text-align:right" >Cost</th>
        <th style="text-align:right" >Profit</th>
        <th style="text-align:right" >Total Inventory</th>
        <th style="text-align:center" >Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td style="text-align:right" th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.itemType}"></td>
        <td style="text-align:right" th:text="${item.getSalePrice()}"></td>
        <td style="text-align:right" th:text="${item.cost}"></td>
        <td style="text-align:right" th:text="${item.profit}"></td>
        <td style="text-align:right" th:text="${item.inventory}"></td>
        <td style="text-align:right" >
            <a th:href = "@{/items/reorder/{id}(id=${item.id})}">
                <button type = "button" class = "btn btn-outline-secondary">Reorder</button></a>

            <a th:href = "@{/items/edit/{id}(id=${item.id})}">
                <button type = "button" class = "btn btn-outline-secondary">Edit</button></a>

            <a th:href = "@{/items/delete/{id}(id=${item.id})}" onclick="return confirm('Confirm Deletion\nOnce deleted, item cannot be recovered.')">
                <button type = "button" class = "btn btn-outline-danger">Delete</button></a>

        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>