<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Projects</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <br>
        <div class="container" style="background-color: lightblue; padding: 10px">
            <h1>List of Projects</h1>
        </div>
        <br>
<div class="container">
    <ul>
        <li>
            <h2><a th:href="@{/projects/agoc}">AGOC</a></h2>
            <span><strong>Animal Growth, Outreach and Care Project</strong></span>
            <br>Project ID: 2431<br>
            <br>
        </li>
        <li>
            <h2><a th:href="@{/projects/dfas}">DFAS</h2></a>
            <span><strong>Dog Fostering and Adoption Services Project</strong></span>
            <br>Project ID: 4297<br>
            <br>
        </li>
        <li>
            <h2><a th:href="@{/projects/olno}">OLNO</h2></a>
            <span><strong>Optimize, Leverage, Navigate Operations Project</strong></span>
            <br> Project ID: 4011
        </li>
    </ul>
</body>
</html>