<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <br>
    <title>OLNO Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container project-info" style="background-color: lightblue; padding: 10px">
        <h1>Optimize, Leverage, Navigate Operations (OLNO)</h1><br>
        <p><strong>Start Date:</strong> 2023-07-01</p>
        <p><strong>End Date:</strong> 2024-10-31</p>
        <p><strong>Project ID:</strong> 4011</p>
        <p><strong>Project Lead:</strong> Jamie Lander</p>
    </div>
    <br>
<div class="container">
    <h2 style="color: blue">Project Scope</h2>
    <ul>
        <li>Develop a centralized database system to track logistical data and operations.</li>
        <li>Develop predictive analytics models to forecast demand and optimize inventory levels.</li>
        <li>Implement automated inventory replenishment systems to ensure adequate stocks.</li>
        <li>Conduct regular performance evaluations and continuous improvement initiatives to optimize operations.</li>
    </ul>
</div>
</body>
</html>