<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Projects</title>
    <style>
        .project {
            margin-bottom: 20px;
        }
        .project a {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 5px; 
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>List of Projects</h1>
    <ul>
        <li class="project">
            <a th:href="@{/projects/agoc}">AGOC</a>
            <br>
            <span><strong>Animal Growth, Outreach and Care Project</strong></span>
            <br>Project ID: 2431
        </li>
        <li class="project">
            <a th:href="@{/projects/dfas}">DFAS</a>
            <br>
            <span><strong>Dog Fostering and Adoption Services Project</strong></span>
            <br>Project ID: 4297
        </li>
        <li class="project">
            <a th:href="@{/projects/olno}">OLNO</a>
            <br>
            <span><strong>Optimize, Leverage, Navigate Operations Project</strong></span>
            <br> Project ID: 4011
        </li>
    </ul>
</body>
</html>