<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DFAS Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
    <br>
    <div class="container project-info" style="background-color: lightblue; padding: 10px">
        <h1>Dog Fostering and Adoption Services (DFAS)</h1><br>
        <p><strong>Start Date:</strong> 2024-01-31</p>
        <p><strong>End Date:</strong> 2024-12-31</p>
        <p><strong>Project ID:</strong> 4297</p>
        <p><strong>Project Lead:</strong> Amy Wiseman</p>
        <p><strong>*Currently, DFAS is exclusively offering foster and adoption services for dogs due to current capacity constraints. Please come back to check if adoption of other animals become available in the near future.</strong></p>
    </div>
    <br>
<div class="container">
    <h2 style="color: blue">Foster</h2>
    <ul>
        <li>Develop a comprehensive training program for foster caregivers, covering animal care, behavior management, and emergency procedures.</li>
        <li>Establish a network of veterinary partners to provide medical care and support for animals in foster homes.</li>
        <li>Implement a system for regular check-ins and support for foster caregivers to ensure the well-being of animals.</li>
        <li>Organize foster care orientations and workshops to recruit and educate new volunteers.</li>
        <li>Create a database to track animals in foster care, including medical records, behavioral assessments, and placement status updates.</li>
    </ul>

    <h2 style="color: blue">Adoption</h2>
    <ul>
        <li>Develop an online adoption portal for prospective adopters to browse available animals, submit applications, and schedule meet-and-greets.</li>
        <li>Implement a standardized screening process for adopters, including reference checks, home visits, and interviews.</li>
        <li>Establish adoption counseling sessions to educate potential adopters about responsible pet ownership, training, and behavior expectations.</li>
        <li>Organize adoption events and promotions to showcase animals available for adoption and encourage community engagement.</li>
        <li>Create a database to track adoption applications, screening status, and successful placements, ensuring transparency and accountability in the adoption process.</li>
    </ul>
</div>
</body>
</html>