<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seminars</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<br>
<br>
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class = "text-center">Add new seminar</h1>
                <div class = "card-body">
                    <form th:action="@{/seminars}" th:object = "${seminar}" method="POST">
                        <div class = "form-group">
                            <label>Seminar Title</label>
                            <input
                                type = "text"
                                name = "title"
                                field = "*{title}"
                                class = "form-control"
                                required
                                />
                        </div>

                        <div class = "form-group">
                            <label>Date</label>
                            <input
                                    type = "date"
                                    name = "date"
                                    field = "*{date}"
                                    th:min = "${@seminarService.getTodaysDate()}"
                                    class = "form-control"
                                    required
                            />
                        </div>

                        <div class = "form-group">
                            <label>Time</label>
                            <input
                                    type = "time"
                                    name = "time"
                                    field = "*{time}"
                                    class = "form-control"
                                    required
                            />
                        </div>

                        <div class = "form-group">
                            <label>Location</label>
                            <input
                                    type = "text"
                                    name = "location"
                                    field = "*{location}"
                                    class = "form-control"
                                    required
                            />
                        </div>

                        <div class = "form-group">
                            <label>Capacity</label>
                            <input
                                    type = "number"
                                    name = "capacity"
                                    field = "*{capacity}"
                                    class = "form-control"
                                    required
                            />
                        </div>

                        <div class = "box-footer">
                            <button type = "submit" class = "btn btn-primary">Submit</button>
                            <a th:href = "@{/seminars/manage}" class = "btn btn-outline-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>